<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="30">
    <title>Ignition Client Tester</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}"">
    <script type="text/javascript">
        fetch('/application')
            .then(function(response) {
                return response.json();
            }).then(function(json) {
                document.getElementById("app-status").innerHTML = json["status"];
                document.getElementById("webdriver-url").innerHTML = json["url"];
                document.getElementById("webdriver-count").innerHTML = json["count"];
                document.getElementById("webdriver-max-count").innerHTML = json["max"];
            })
    </script>
</head>
<body>
    
    <div class="grid-wrapper">
        <section class="grid-header">
            <div class="grid-header-text">Ignition Client Tester</div>
        </section>
        <div class="grid-item">
            <div class="grid-item-container">
                <span class="grid-item-label">Status</span>
                <span id="app-status" class="grid-item-value"></span>
            </div>
        </div>
        <div class="grid-item">
            <div class="grid-item-container">
                <span class="grid-item-label">Web Driver</span>
                <span id="webdriver-url" class="grid-item-value"></span>
            </div>
        </div>
        <div class="grid-item">
            <div class="grid-item-container">
                <span class="grid-item-label">Sessions Open</span>
                <span id="webdriver-count" class="grid-item-value"></span>
            </div>
        </div>
        <div class="grid-item">
            <div class="grid-item-container">
                <span class="grid-item-label">Max Sessions Open</span>
                <span id="webdriver-max-count" class="grid-item-value"></span>
            </div>
        </div>
    </div>
</body>
</html>