:root {
    --background-primary: #7FB069;
    --background-secondary: #ECE4B7;
    --background-tertiary: #E6AA68;
    --text-color-primary: #02020B;
}

body {
    background-color: var(--background-secondary);
    margin: 0px;
}

.grid-wrapper {
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: auto;
    grid-template-rows: 50px 80px 80px 80px 80px;
    grid-template-areas:
        "header"
        "item"
        "item"
        "item"
        "item";
}

.grid-header {
    grid-area: header;
    background-color: var(--background-primary);
    display: flex;
}

.grid-header-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;

    color: var(--text-color-primary);
    font-weight: bolder;
    text-align: center;
    font-size: 28px;

}

.grid-item {
    display: flex;
    align-items: space-around;
    justify-content: flex-start;

    margin-left: 10px;
    margin-right: 10px;

    background-color: var(--background-tertiary);
    border-radius: 8px;
}

.grid-item-container {
    display: flex;
    align-items: stretch;
    flex: 1 1 auto;
    flex-direction: column;

    padding: 8px;    
}

.grid-item-label {
    flex: 0 0 25px;
    color: var(--text-color-primary);
    font-weight: bold;
    font-size: 20px;
}

.grid-item-value {
    display: flex;
    flex: 1 1 auto;
    align-items: center;

    background-color: #F5F5F4;
    border-radius: 3px;

    color: var(--text-color-primary);
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
}

@media only screen and (min-width: 700px) {
    .grid-wrapper {
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "header header"
        "item item"
        "item item";
    }
}